a.btn.cp-fq-generate-anchor {
    margin-left: 10px;
    color: #0388cc;
}
//for icons page
.cp-ic-right-dir.cp-icon_font_size {
    font-size: 14px;
    position: relative;
    top: 2px;
}
.cp-ic-sort-down.cp-icon_font_size {
    font-size: 14px;
}
.cp-addon-icon-bl {
    .row {
        margin-left: -20px;
        *zoom: 1;
    }
    .row:before, .row:after {
        display: table;
        content: "";
        line-height: 0;
    }
    .row:after {
        clear: both;
    }
    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 20px;
    }
    
    [class*="span"].pull-right,
    .row-fluid [class*="span"].pull-right {
        float: right;
    }
    .container {
        margin-right: auto;
        margin-left: auto;
        *zoom: 1;
    }
    .container:before,
    .container:after {
        display: table;
        content: "";
        line-height: 0;
    }
    .container:after {
        clear: both;
    }
    .the-icons {
        font-size: 14px;
        line-height: 24px;
    }
    .the-icons span {
        padding-left: 10px;
    }
    .codesOn .i-name {
    display: none;
    }
}
//
.cp-prod-faq-add-sec-but {
	display: inline-block;
}
/**/
.cp-icon_font_size {
	font-size: 20px;
}
.cp-icon_position-not-point {
	float: left;
    padding-left: 20px;
    i {
        margin-right: 10px;
    }
}
.cp-icon_position {
    cursor: pointer;
    float: left;
    padding-left: 15px;
    i {
        margin-right: 10px;
        min-width: 8px;
    }
}
.cp-icon_position-sec-not-point {
	float: left;
    padding-left: 25px;
    i {
        margin-right: 10px;
    }
}
.cp-icon_position-sec {
	cursor: pointer;
    float: left;
    padding-left: 15px;
    i {
        margin-right: 10px;
        min-width: 8px;
    }
}
.cp-question_border {
	//border-bottom: 1px solid #ccc;
}
.cp-faq-questions-block {
    padding: 15px 0;
}

.form-horizontal .cp-faq-row-inp-main-manage .controls {
	float: left;
	margin-left: 22px;
 	width: 65%; 
}
.form-horizontal .cp-faq-row-inp-main .controls {
	float: left;
	margin-left: 22px;
/* 	width: 84%; */
 	padding-top: 6px;
}
i.cp-sect_icon_move {
	position: relative;
	top: 4px;
	font-size: 20px;
	width: 25px
}
.cp-faq-row-inp-main, .cp-faq-row-inp-main-manage {
	padding: 7px 0px;
}
.cp-icon_font_size-delete {
	float: left;
	top: 6px;
    position: relative;
    margin-left: 25px;
}
.cp-faq-row-inp-main:hover {
	background-color: #f5f5f5;
}
.cp-quest-disp-icon {
	text-align: center;
}
.sect-quest-text {
	font-weight: bold;
	font-size: 16px;
}
.sect-quest-block {
/* 	border-bottom: 1px solid #DDDDDD; */
    padding: 10px 0px;
}
.cp-add-new-secti-prod {
	padding-top: 10px;
}
.sect-quest-block .cp-icon_position-not-point-sec {
/* 	cursor: pointer; */
    float: left;
    padding-left: 0px;
}
.form-horizontal .sect-quest-block .cp-faq-row-inp-main .controls {
	float: left;
	margin-left: 22px;
/* 	width: 88%; */
 	padding-top: 6px;
}

.cp-section-questions-block {
    margin-left: 45px;
    border: 1px solid #eee;
    padding: 15px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.cp-add-question-button {
    padding: 10px 0;
}
.cp-faq-remove {
    float: right;
    padding-right: 20px;
}
.cp-faq-remove-manage {
	padding-right: 20px;
}
.cp-form-block {
    .mce-container-body {
        max-width: 700px;
    }
}
