# --- Gitignore di Folder Parent (Melacak Core & Addons) ---

# Ignore file konfigurasi sensitif
public_html/config.local.php
public_html/_srx_config.php
public_html/local_conf.php

# Ignore semua log file
public_html/*.log
public_html/error_log*
public_html/temp_log

# Ignore folder Git internal milik repo addon (PENTING!)
# Ini agar Git parent tidak berusaha membaca Git lama sebagai submodule kosong
public_html/.git/

# Ignore semua file cache dan temporary runtime
public_html/var/cache/
public_html/var/compiled/
public_html/var/snapshots/
public_html/var/gl_data/

# Ignore semua file media, gambar produk, banner, dan logo
public_html/images/
public_html/design/themes/*/media/

# Ignore file unduhan digital atau data user
public_html/var/downloads/
public_html/var/attachments/
public_html/var/custom_files/

# Ignore file sistem operasi / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
