@font-face {
  font-family: "OutfitRegular";
  src: url("../media/addons/my_changes/OutfitRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OutfitBlack";
  src: url("../media/addons/my_changes/OutfitBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "OutfitBold";
  src: url("../media/addons/my_changes/OutfitBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OutfitExtraBold";
  src: url("../media/addons/my_changes/OutfitExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OutfitExtraLight";
  src: url("../media/addons/my_changes/OutfitExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "OutfitLight1";
  src: url("../media/addons/my_changes/OutfitLight1.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OutfitMedium";
  src: url("../media/addons/my_changes/OutfitMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OutfitSemiBold";
  src: url("../media/addons/my_changes/OutfitSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OutfitVariableFont_wght1";
  src: url("../media/addons/my_changes/OutfitVariableFont_wght1.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
