@font-face {
    font-family: 'SaudiRiyalSymbol';
    src: url('../css/addons/is2or_symbol_sar/saudiriyalsymbol.ttf') format('truetype');
}

.sar {
    font-family: SaudiRiyalSymbol, sans-serif !important;
    text-transform: lowercase !important;
}
