#as_interest_popup{
	// .as_interest_popup_inner {
	// 	width: 500px;
	// }

	.as_interest_popup_footer {
		padding: 10px 0px;
		text-align: right;
	}
}

.select2-container {
	z-index: 1101 !important;
}

@media (max-width: 667px) {
	#as_interest_popup {
		.as_interest_popup_inner {
			width: 90%;
		}
	}
}