.is2or-product-notes__wrapper {
    text-align: left;
    margin-bottom: 10px;
    width: 250px;
    border: 1px solid #d3dbe2;
    padding: 4px;
    appearance: auto;

    label {
        padding: 0;
    }

    .btn-product-notes {
        padding: 5px 7px;
        background: @tertiary_button;
        border-radius: 4px;
        color: white;
    }

    textarea {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    .product-notes {
        padding: 0;
        font-style: italic;
    }
}