/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2026   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
@abt__ut2_addons_ab__deal_of_the_day_block_fonts_color: contrast(@general_bg_color, @font, white);
@abt__ut2_addons_ab__deal_of_the_day_block_background: @general_bg_color;
@abt__ut2_addons_ab__deal_of_the_day_bordered_block: true;
@abt__ut2_addons_ab__deal_of_the_day_shadow_block: false;
@abt__ut2_addons_ab__deal_of_the_day_rounded_corners_blocks: false;

.ab_dotd_product_label {
    color: var(--color-discount);
    font-size: var(--font-size-medium);
}

.cat-content-grid .main-content-grid .ty-mainbox-title {
    margin-block: var(--gap-s);
}

.ab__deal_of_the_day:not(.pd-dp) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--gap-s) var(--gap-xs);
    gap: var(--gap-s);
    background: @pd_block_background;

    .ut2_grid_border() when not (@abt__ut2_product_list_show_grid_border = solid_without_margins) {
        padding-block: var(--gap-s);
    }
    .ut2_grid_border() when (@abt__ut2_product_list_show_grid_border = solid_without_margins) {
        padding-block: var(--gap-xs);
    }
    .ut2_grid_border();

    @media (min-width: 768px) {
        width: 100%;
        border-radius: calc(var(--border-radius-box) + var(--border-radius-decreased));
        overflow: hidden;
    }
    @media (max-width: 767px) {
        width: calc(~'100% + (var(--gap-s) * 2)');
        margin-inline: calc(var(--gap-s) * -1);
        padding-block: calc(var(--gap-s) * 2);
        padding-inline: var(--gap-s);
        border-radius: 0;
    }

    .pd_border_block() when (@pd_bordered_block = true) and (@pd_block_background = @general_bg_color) and (@pd_shadow_block = false) {
        @media (min-width: 577px) {
            border: 1px solid contrast(@general_bg_color, @decorative, @base);
            box-shadow: 0 0 0 4px contrast(@general_bg_color, fade(@decorative, 15%), fade(@base5, 15%));
        }
        @media (max-width: 576px) {
            border: 3px solid contrast(@general_bg_color, @decorative, @base);
        }
    }
    .pd_border_block() when (@pd_bordered_block = true) and (@pd_block_background = @general_bg_color) and (@pd_shadow_block = true) {
        @media (min-width: 577px) {
            border: 1px solid contrast(@general_bg_color, @decorative, @base);
        }
        @media (max-width: 576px) {
            border: 3px solid contrast(@general_bg_color, @decorative, @base);
        }
    }
    .pd_border_block() when (@pd_block_background = @general_bg_color) and (@pd_bordered_block = false) {
        border: 1px solid var(--color-base);
    }
    .pd_border_block() when not (@pd_block_background = @general_bg_color) and (@pd_bordered_block = true) {
        border: 1px solid darken(@pd_block_background, 10%);
    }
    .pd_border_block();

    .pd_shadow_block() when (@pd_block_background = @general_bg_color) and (@pd_bordered_block = false) and (@pd_shadow_block = true) {
        box-shadow: 0 0 30px fade(@font, 15%);
    }
    .pd_shadow_block() when (@pd_block_background = @general_bg_color) and (@pd_bordered_block = true) and (@pd_shadow_block = true) {
        box-shadow: 0 0 30px fade(@pd_color_bright_elements, 40%), 0 0 3px fade(@pd_color_bright_elements, 5%);
    }
    .pd_shadow_block() when not (@pd_block_background = @general_bg_color) and (@pd_shadow_block = true) {
        box-shadow: 0 0 30px fade(@pd_block_background, 40%), 0 0 3px fade(@pd_block_background, 5%);
    }
    .pd_shadow_block();

    /* full width products */
    &.pd-fullwidth {
        .pd-block {
            width: 100%;
        }
        .pd-content-block {
            width: 100%;
        }
    }
    .pd-block {
        flex-shrink: 0;
        width: 100%;

        @media (min-width: 768px) {
            flex-basis: min(@ab_pd_min_width, 50%);
            max-width: @ab_pd_min_width;
        }

        .time-left {
            color: fade(@pd_block_fonts_color, 65%);
        }
    }
    .pd-content-block {
        @media (min-width: 1024px) {
            flex: 1 calc(~'100% -'(@ab_pd_min_width));
            max-width: calc(~'100% -'(@ab_pd_min_width) - var(--gap-s));
        }
        @media (min-width: 768px) and (max-width: 1023px) {
            flex: 1 calc(~'100% - 'min(@ab_pd_min_width, 50%) - var(--gap-s));
            max-width: calc(~'100% - 'min(@ab_pd_min_width, 50%) - var(--gap-s));
        }
        @media (max-width: 767px) {
            .ut2_grid_border() when not (@abt__ut2_product_list_show_grid_border = solid_without_margins) {
                width: calc(~'100% + (var(--gap-s) * 2)');
                padding-inline: var(--gap-xs);
                margin-inline: calc(var(--gap-xs) * -1);
            }
            .ut2_grid_border() when (@abt__ut2_product_list_show_grid_border = solid_without_margins) {
                width: calc(~'100% + (var(--gap-s) * 2)');
                padding-inline: var(--gap-s);
            }
            .ut2_grid_border();
        }
    }

    .ab-scroller-pd:not(.owl-theme) {
        visibility: hidden;
    }
    .ab-scroller-pd {

        .ut2_grid_border() when not (@abt__ut2_product_list_show_grid_border = solid_without_margins) {
            .owl-wrapper-outer {
                border-radius: var(--border-radius-box);
            }
        }
        .ut2_grid_border();

        .owl-item.active {
            border: 0;

            + .owl-item:not(.active) {
                position: relative;

                &::before {
                    content: '';
                    inline-size: 10px;
                    block-size: 100%;
                    position: absolute;
                    z-index: 1;
                    inset-block: 0;
                    inset-inline-start: 0;
                    background-color: @pd_block_background;
                }
            }
        }
        .grabbing .owl-item::before {
            content: initial !important;
        }

        .ut2_grid_border() when (@abt__ut2_product_list_show_grid_border = none) {
            .ut2-gl__body {
                background: var(--color-general);
            }
            .ut2-gl__item {
                padding-inline: var(--gap-xxs);
            }
        }
        .ut2_grid_border() when (@abt__ut2_product_list_show_grid_border = solid_with_margins) {
            &.grid-list.owl-carousel.ty-scroller-list .owl-item .ut2-gl__item {
                width: 100%;
            }
        }
        .ut2_grid_border() when not (@abt__ut2_product_list_show_grid_border = solid_without_margins) {
            .mxn_colorscheme-depending() when (@general_bg_color = @pd_block_background) {
                .owl-wrapper-outer {
                    padding-block-end: 1px;
                }
            }
            .mxn_colorscheme-depending();

            &.grid-list.owl-carousel.ty-scroller-list {
                width: 100%;
                margin-inline: 0;
                padding-inline: 0;

                .owl-controls:not(.owl-controls-outside) .owl-buttons {
                    > div.owl-prev {
                        left: calc(var(--gap-xs) * -1);
                    }
                    > div.owl-next {
                        right: calc(var(--gap-xs) * -1);
                    }
                }
            }
        }
        .ut2_grid_border() when (@abt__ut2_product_list_show_grid_border = solid_without_margins) {
            .ut2-gl__body {
                @media (max-width: 380px) {
                    border-radius: var(--border-radius-decreased);
                }
            }

            .owl-controls:not(.owl-controls-outside) .owl-buttons {
                > div.owl-prev {
                    left: calc(var(--gap-xs) * -1);
                }
                > div.owl-next {
                    right: calc(var(--gap-xs) * -1);
                }
            }

            .mxn_colorscheme-depending() when (@general_bg_color = @pd_block_background) {
                .ut2-gl__body {
                    box-shadow: inset 0 0 0 1px @base, 0 0 0 1px @pd_block_background;
                }

                .owl-item.active {
                    z-index: 2;
                }
            }
            .mxn_colorscheme-depending() when not (@general_bg_color = @pd_block_background) {
                .ut2-gl__body {
                    box-shadow: inset 0 0 0 1px darken(@pd_block_background, 3%), 0 0 0 1px @general_bg_color;
                }
            }
            .mxn_colorscheme-depending();
        }
        .ut2_grid_border() when (@abt__ut2_product_list_show_grid_border = solid_with_margins) {
            .mxn_colorscheme-depending() when not (@general_bg_color = @pd_block_background) {
                .ut2-gl__body {
                    box-shadow: unset;
                }
                .ut2-gl__item {
                    width: auto;
                    margin-inline: 0.5px;
                }
            }
            .mxn_colorscheme-depending();
        }
        .ut2_grid_border();
    }

    .ab_dotd_product_label {
        display: none;
    }
    .pd-promotion__title {
        font-size: var(--font-size-big);
        line-height: 1.1;
        font-family: @headings_font;
        font-weight: @headings_font_weight;

        .uppercase() when (@abt__ut2_general_use_titles_uppercase = true) {
            text-transform: uppercase;
            font-size: var(--font-size-big);
        }
        .uppercase();

        .checkColor() when (@abt__ut2_addons_ab__deal_of_the_day_bright_color_promotion_title = true) {
            color: @pd_color_bright_elements;
        }
        .checkColor() when (@abt__ut2_addons_ab__deal_of_the_day_bright_color_promotion_title = false) {
            color: contrast(@pd_block_background, @pd_block_fonts_color, white);
        }
        .checkColor();
    }
    .pd-promotion-descr {
        margin-bottom: var(--gap-xs);
        color: fade(@pd_block_fonts_color, 90%);

        *:not(a) {
            color: fade(@pd_block_fonts_color, 90%);
        }
    }
    .pd-promotion__buttons {
        display: flex;
        flex-wrap: wrap;
        min-width: 100%;
        gap: var(--gap-xs);

        @media (max-width: 460px) {
            justify-content: space-between;
        }
        .ty-btn {
            margin: unset;
            flex: 1 130px;
        }
        .ty-btn__outline {
            color: @pd_block_fonts_color;
            box-shadow: inset 0 0 0 1px fade(@pd_block_fonts_color, 80%);
        }
    }

    .js-counter {
        height: 57px;
        background: var(--color-general);
        border-radius: var(--border-radius);

        @media (min-width: 768px) {
            max-width: 100%;
        }
    }
    .ty-cr-product-button {
        display: none !important;
    }
}

html.touchevents {
    .ab__deal_of_the_day:not(.pd-dp) {
        @media (min-width: 577px) and (max-width: 1023px) {
            flex-wrap: wrap;

            .pd-promotion__buttons {
                order: 3;
            }
        }
        @media (max-width: 460px) {
            flex-direction: column;
        }
    }
}
html.mouseevents {
    .ab__deal_of_the_day:not(.pd-dp) {
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
}

.ab__dotd_promotions-item {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: start;
    align-items: start;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: var(--border-radius-box);
    overflow: hidden;
    box-shadow: inset 0 0 0 1px var(--color-base5);
    background: var(--color-general);

    &.ab__dotd_promotion_expired {
        filter: grayscale(100%);
    }
}

.ab__dotd_promotions .ab__pb--item {
    max-height: initial; // reset/clean legacy style
}

.ab__dotd_promotions-item,
.ab__dotd_promotions .ab__pb--item {
    max-inline-size: 420px;
    margin-inline: auto;

    .fill--color & {
        box-shadow: initial;
        border: 0 none;
    }
}

.ab__dotd_promotions-item_image,
.ab__dotd_promotions .ab__pb--image {
    box-sizing: content-box;
    overflow: clip;
    aspect-ratio: 4 / 3;
    inline-size: 100%;

    .fill--color & {
        background: var(--color-primary);
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        inline-size: 100%;
        block-size: 100%;
        min-height: 0;
        position: relative;
    }

    img {
        display: block;
        border-start-start-radius: var(--border-radius-box);
        border-start-end-radius: var(--border-radius-box);
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        inset: 0;
    }

    &:has(.ty-no-image) {
        mix-blend-mode: multiply;
    }
    .ty-no-image {
        border: 0 none;
        border-radius: initial;
        background: initial;
    }
}

.ab__dotd_promotions .ab__pb--content {
    border-top: 0 none;
    min-height: initial; // reset/clean legacy style
}

.ab__dotd_promotions-item_image {
    background: var(--fill-gray);
}

.ab__dotd_promotions-item_days_left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: var(--font-size-small);
    text-align: center;
    padding: var(--gap-xxs);
    margin-block: var(--gap-sm) var(--gap-s);
    margin-inline: var(--gap-sm) 0;
    max-width: 80px;
    min-width: 50px;
    height: 60px;
    background: var(--fill-gray);
    color: var(--color-font-lighten);
    border-bottom: 1px solid var(--base5);
    box-shadow: 0 1px 1px var(--fill-gray), 0 2px 1px darken(@base, 10%), 0 3px 1px lighten(@base, 5%), 0 4px 1px darken(@base, 10%);
    border-radius: var(--border-radius);
    position: relative;

    .ab__days_left_background() when (lightness(lighten(@base, 3%)) > 95%) {
        background: var(--color-base);
    }
    .ab__days_left_background();

    &:before {
        content: "";
        border-top: 4px dotted var(--color-general);
        width: 100%;
        height: 0;
        position: absolute;
        top: -1px;
    }
    > div {
        font-size: var(--font-size-small);
        color: var(--color-font-lighten);
    }
    span {
        display: block;
        padding-top: 2px;
        font-size: var(--font-size-big);
        line-height: 90%;
        font-weight: bold;
        color: var(--color-font);
    }
    &.ab__dotd_highlight {
        background: @pd_bg_bright;
        color: @pd_color_bright_elements;
        border-color: darken(@pd_bg_bright, 5%);
        box-shadow: none;
        font-weight: bold;

        .checkColor() when (lightness(@pd_bg_bright) > 95%) {
            background: darken(@pd_bg_bright, 5%);
            border-color: darken(@pd_bg_bright, 10%);
        }
        .checkColor();

        span {
            color: @pd_color_bright_elements;
        }
    }
    @media (max-width: 1279px) {
        margin: var(--gap-sm) var(--gap-sm) calc(var(--gap-xxs) * -1) var(--gap-sm);
        max-width: none;
        min-width: auto;
        height: auto;
        border: none;
        box-shadow: none;
        flex-direction: row;

        &:before {
            content: none;
        }
        span {
            padding: 0 var(--gap-xxs);
            font-size: var(--font-size-normal);
        }
    }
}

.ab__dotd_promotions-item_title {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    padding: var(--gap-sm);

    a {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-box;
        color: var(--color-font);
        font-size: var(--font-size-normal);
        font-weight: bold;
        line-height: 1.2;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

        &:hover {
            text-decoration: underline;
        }
    }
    @media (max-width: 1400px) and (min-width: 1280px) {
        a {
            max-height: 70px;
            -webkit-line-clamp: 3;
            .hyphens(auto);
        }
    }
    @media (max-width: 1279px) {
        min-width: 100%;
    }
}

.ab__dotd_promotions-item_date {
    display: block;
    margin-top: var(--gap-xxs);
    font-size: var(--font-size-small);
    color: var(--color-font-lighten);
}

.ab__dotd_promotions-filter {
    display: block;
    padding-bottom: 5px;

    &_item {
        color: lighten(@font, 20%);
        cursor: pointer;
        font-size: 14px;
        display: inline-block;
        margin: 0 2px var(--gap-xs) 0;
        padding: 5px 14px 6px 14px;
        border: 1px solid var(--color-base);

        .border-radius(4px);
        .ut2_round();

        &:hover {
            color: var(--color-font);
            border: 1px solid darken(@base, 10%);
        }
        &.active {
            color: var(--color-links);
            border: 1px solid var(--color-links);
        }
    }
}

.ty-pagination-container > .ab__dotd_promotions {

    .fluidContainerMaxWidth() when (@fluidContainerMaxWidth < 1600px) {
        --max-section-columns: 25%;
    }
    .fluidContainerMaxWidth() when (@fluidContainerMaxWidth = 1600px) {
        --max-section-columns: 20%;
    }
    .fluidContainerMaxWidth();

    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(max(280px,calc(~'var(--max-section-columns) - var(--gap-sm)')), 1fr));
    width: 100%;
    gap: var(--gap-sm);

    > p:first-child {
        font-size: var(--font-size-large);
        margin-block-end: var(--gap-sm);
        grid-column: ~"1 / -1";
    }

    &:after, &:before {
        content: none;
    }

    [class*="ty-column"] {
        width: 100%;
    }
}
.all-promotions__button {
    text-align: center;
    margin: var(--gap-m) 0 0;
}

.ab__dotd_chains_title.ty-subheader {
    font-size: var(--font-size-extra-large);
    padding-block: var(--gap-xs);
    margin: unset;
}
.ab__dotd_chains_content {
    > div {
        margin: var(--gap-xxs) 0 var(--gap-sm);
    }
    > form {
        border: 1px solid var(--color-base);
        margin-bottom: var(--gap-xs);

        .ty-subheader {
            padding: var(--gap-s);
        }
        .ty-buy-together__products {
            padding: 0 var(--gap-s);
            box-sizing: border-box;
        }
        .ty-buy-together-price {
            margin: var(--gap-s) 0;
        }
        .buttons-container {
            margin: var(--gap-s) 0 0;
        }
    }
}
.ab__dotd-text_showed {
    display: block;
    color: var(--color-font-lighten);
    font-size: var(--font-size-normal);
    font-weight: normal;
    line-height: normal;
}

.ty-tabs__content .ab__dotd_promotions {
    padding: var(--gap-sm) 0 0;
}

.ab__dotd_promotions-products {
    padding-top: var(--gap-xs);
    border-top: 1px solid var(--color-base);

    @media (max-width: 576px) {
        border-top: 2px solid var(--color-primary);

        .bg_menu() when not (@menu = @general_bg_color) {
            border-top: 2px solid @menu;
        }
        .bg_menu();
    }
    .ty-sort-container {
        margin: 0 0 var(--gap-xs) 0;
    }
}

.ab__dotd_promotion-image img {
    border-radius: var(--border-radius-box);
    object-fit: contain;
    overflow: clip;
    object-position: top right;
    block-size: 100%;
    width: auto;
}
.ab__dotd_promotion-content {
    padding-bottom: var(--gap-s);

    .js-counter {
        background: var(--fill-gray);
        border-radius: var(--border-radius-decreased);
    }
}
.ab__dotd_promotion-description {
    display: inline-block;
    width: 100%;
}
.ab__dotd_promotion-timer {
    padding-top: var(--gap-xs);
}
.ab__dotd_promotion_title {
    font-weight: 600;
}
.ab__dotd_promotion .ab__dotd_promotion_date p {
    color: var(--color-decorative);
}

.ab__dotd_promotion.action-is-over {
    .ab__dotd_promotion-image {
        .opacity(50);

        img {
            -webkit-filter: grayscale(100%); // Safari 6.0 - 9.0
            filter: grayscale(100%);
        }
    }
    h1 span {
        color: var(--color-discount);
        font-family: Arial, sans-serif;
        font-weight: normal;
    }
    .ab__dotd_promotion-description * {
        color: var(--color-font-lighten);
    }
}

.ab__dotd_promotion ~ .ty-mainbox-container {
    h2 {
        margin-top: var(--gap-m);
    }
}
.ab__dotd_promotions {
    .pd-promotion__buttons {
        margin: 16px 0 0 4px;
    }
}

.ab__deal_of_the_day.pd-dp {
    display: flex;
    flex-wrap: wrap;
    margin: var(--gap-xs) 0;
    padding: var(--gap-xxs);
    border-radius: var(--border-radius-box);
    background: @pd_block_background;
    gap: var(--gap-xxs) var(--gap-xs);

    .pd_border_block() when (@pd_bordered_block = true) and (@pd_block_background = @general_bg_color) {
        border: 1px solid contrast(@general_bg_color, @decorative, @base);
    }
    .pd_border_block() when (@pd_block_background = @general_bg_color) and (@pd_bordered_block = false) {
        border: 1px solid var(--color-base);
    }
    .pd_border_block() when not (@pd_block_background = @general_bg_color) and (@pd_bordered_block = true) {
        border: 1px solid darken(@pd_block_background, 10%);
    }
    .pd_border_block();

    > a {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    > div:not(.col1) {
        display: flex;
    }
    + div {
        margin-top: 0;
    }
    .pd-promotion__title {
        display: inline-block;
        font-size: var(--font-size-medium);
        font-family: @body_font;
        font-weight: 600;
        text-transform: none;

        .ut2_line_clamp(3);

        .checkColor1() when (@abt__ut2_addons_ab__deal_of_the_day_bright_color_promotion_title = true) {
            color: @pd_color_bright_elements;
        }
        .checkColor1() when (@abt__ut2_addons_ab__deal_of_the_day_bright_color_promotion_title = false) {
            color: @pd_block_fonts_color;
        }
        .checkColor1();

        &:hover {
            text-decoration: underline;
        }
    }
    .pd-promotion__img {
        align-self: start;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        position: relative;
        overflow: hidden;
        border-radius: 100%;
        border: 1px solid transparent;

        .checkColor() when not (@pd_block_background = @general_bg_color) {
            background: var(--color-general);
        }
        .checkColor() when (@pd_block_background = @general_bg_color) {
            background: fade(@decorative, 10%);
        }
        .checkColor();

        img {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            min-width: fit-content;
        }
        i {
            font-size: 28px;
            color: var(--color-decorative);

        }
        ~ .pd-promotion__content {
            min-inline-size: 0;
            flex: 1;
            gap: var(--gap-xxs);
        }
    }
    .pd-promotion__content {
        display: flex;
        flex-direction: column;
        max-width: calc(~'100% - 40px - var(--gap-xs)');

        .ab__dotd_promotion_date small {
            font-size: var(--font-size-normal);
            color: contrast(@pd_block_background, fade(@font, 50%), fade(@general_bg_color, 80%));
            margin-top: 4px;
            display: block;
        }
    }
    .col1, .col2 {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
    }
    .col1 {
        min-width: 48%;
        flex-wrap: nowrap;
        padding: var(--gap-xxs);
        column-gap: var(--gap-xs);
    }
    .col2 {
        align-content: center;
        justify-content: center;
        max-width: 100%;
        background: var(--color-general);
        padding-block: var(--gap-xxs);
        row-gap: var(--gap-xxs);

        .ut2_round_blocks() when (@abt__ut2_general_use_rounding_blocks = full) {
            border-radius: var(--border-radius-decreased);
        }
        .ut2_round_blocks() when (@abt__ut2_general_use_rounding_blocks = little) {
            border-radius: var(--border-radius-decreased-more);
        }
        .ut2_round_blocks();

        .pd_block_background() when (@pd_block_background = @general_bg_color) {
            background: var(--fill-gray);
        }
        .pd_block_background();

        > div {
            flex: 1 0 auto;
            min-width: 220px;
            max-width: calc(~'100% - 120px');

            &.flipclock {
                flex-basis: 220px;
            }
        }
        .flip-clock-wrapper {
            padding: var(--gap-xxs) var(--gap-xs) calc(var(--gap-xs) + 12px) var(--gap-xs);
            justify-content: center;
        }
        .ab-flip-clock-item {
            border-color: var(--color-base5);
        }
    }
    .pd-details-promo-link {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background: none;
        width: 100%;
        column-gap: var(--gap-sm);
        padding: initial;
        overflow: hidden;

        &.object-container {
            overflow: initial;
        }

        a {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 3px;
            color: contrast(@pd_block_background, fade(@pd_block_fonts_color, 80%), fade(white, 80%));

            &:hover {
                color: contrast(@pd_block_background, @pd_block_fonts_color, white);
            }

            > span {
                font-size: var(--link-font-size);
            }
        }
    }
    a.also-in-promos-link {
        text-decoration: underline;
        text-underline-offset: 1.3px;
        text-decoration-style: dotted;
        text-decoration-thickness: 1px;
        text-decoration-color: fade(@pd_block_fonts_color, 50%);
    }
    .time-left {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: var(--gap-xs);
        font-size: var(--font-size-small);
        color: var(--color-font-lighten);
        flex: 1 0 120px;
    }
    .js-counter {
        height: 0;
        min-height: 35px;
        padding: 0;
        margin-top: 0;
        font-size: x-small;
        background: transparent;

        > div {
            margin: 3px 0;
            border: 0;
            color: var(--color-font-lighten);

            &:not(:last-child) {
                border-right: 1px solid rgba(0,0,0,.1);
            }
            > span {
                font-size: var(--font-size-large);
                padding-bottom: 0;
                color: var(--color-font);
            }
            &:last-child > span {
                color: var(--color-font-lighten);
            }
        }
    }
}

.flipclock {
    min-block-size: 58px;
}

.ab__dotd_promotion-description[style]:not(.inverse) {
    .bottom-fog(20px, @general_bg_color);
}

.ab__dotd_more {
    cursor: pointer;
    color: var(--color-links);
    border-bottom: 1px dotted lighten(@links, 25%);
    line-height: 17px;
    font-size: 16px;
    display: inline-block;
    margin-right: var(--gap-s);
    margin: 0 var(--gap-s) var(--gap-xs) 0;
    position: relative;
    z-index: 1;

    &:after {
        content: "\e01d";
        font-family: 'glyphs';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        color: var(--color-links);
        font-size: 20px;
        position: absolute;
        right: -14px;
        top: 1px;
        cursor: default;
    }
    i {
        font-size: 18px;
    }
    &.inverse:after {
        content: "\e01e";
    }
    &:hover {
        .opacity(90);
    }
}
.ab__dotd_description {
    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 30px;
        background: linear-gradient(top, fade(@general_bg_color, 0%), @general_bg_color 100%);
    }
    &.inverse:before {
        height: 20px;
        background: none;
    }
}

.ab-dotd-promos {
    > div {
        margin-bottom: 5px;
        line-height: 120%;

        &:not(:empty):first-child {
            margin-bottom: var(--gap-xs);
        }
        a {
            display: inline-block;
            position: relative;
            font-size: var(--font-size-small);
            color: var(--color-font);
            line-height: 1.2;
            margin-top: var(--gap-xxs);
            padding: var(--gap-xs);
            border: 1px solid desaturate(lighten(@discount_label, 25%), 20%);
            border-radius: var(--border-radius);
            .transition(all 150ms);

            &:hover {
                border-color: @pd_color_bright_elements;
            }
            img {
                overflow: hidden;
                border-radius: var(--border-radius-box);
            }
            img, i.ty-no-image__icon {
                width: 50px;
                height: fit-content;
                margin-right: 7px;
                color: var(--color-base);
                text-align: center;
            }
            .ab-dotd-promo-category-wrapper {
                float: right;
                width: 100%;
                font-weight: normal;
            }
            .ab-dotd-promo-header {
                padding: 0 3px;
                color: @pd_color_bright_elements;
                background: white;
                position: absolute;
                font-weight: bold;
                top: -9px;
                left: 7px;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    + .ut2-lv__item-features {
        margin-top: 0 !important;
    }
}
.ty-product-list .ab-dotd-promos {
    margin: 0 0 7px;
}
.ut2-gl__item:hover, .ty-product-list {
    .ab-dotd-promos {
        display: block;
    }
}

.ab-dotd-promotion-page-breadcrumbs {
    border: 0;

    .ty-breadcrumbs {
        margin-bottom: var(--gap-s);
    }
}
.ab-dotd-category-promo {
    display: inline-block;
    width: 100%;
}


.ab-dotd-more-products {
    .ut2-gl__item:hover .ut2-gl__body {
        position: initial !important;
    }
    .ut2-gl__body {
        .ab-dotd-more-icon {
            background-color: fade(@primary_button, 10%);
        }
    }
    .ut2-gl__image {
        background: none;
        > a, .cm-item-gallery > a {
            justify-content: flex-end;
        }
    }
    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: calc(~'(var(--gl-item-height) * 1px) - var(--gap-s)');
    }
    .ab-dotd-more-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        padding: 15px;
        margin-bottom: 10px;
        background-color: fade(@primary_button, 20%);
        font-size: 30px;
        color: var(--color-primary);
        border-radius: 50%;
        .transition(all 0.3s);
    }
    &:hover .ab-dotd-more-icon {
        background-color: fade(@primary_button, 20%);
    }
    ~ [class*="column"] {
        visibility: hidden;
        height: 0;
        display: none;
    }
}

.ab__dotd_chains {
    padding-top: var(--gap-s);

    .ab__dotd_chains_content {
        > div {
            margin: var(--gap-sm) auto;
        }
        > form {
            border: 1px solid var(--color-base);
            margin-bottom: 10px;

            .ty-subheader {
                padding: var(--gap-s);
            }
            .ty-buy-together__products {
                padding: 0 var(--gap-s);
            }
            .ty-buy-together-price {
                margin: var(--gap-s) 0;
            }
            .buttons-container {
                margin: var(--gap-s) 0 0;
            }
        }
    }
    .ut2__buy-together {
        margin-bottom: 0;
    }
}

.ty-product-bundles-promotion-list {
    min-width: 100%;
    margin-top: var(--gap-s);
}

.flip-clock-wrapper div.inn {
    #tygh_main_container & {
        color: black;
    }
}

.ab__dotd_promotion-main_info {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: var(--gap-s) var(--gap-m);

    > div {
        flex: 1;
        min-width: 280px;
    }

    .object-container & {
        max-width: max(800px,100%);
        gap: var(--gap-s);
    }

    .ab__dotd_promotion-content {
        &:has(.js-counter) .js-counter {
            min-height: 57px;
        }
    }

    .ab__dotd_promotion-image {
        max-width: min(100%, 600px);
        padding-bottom: var(--gap-s);
        height: 100%;
        text-align: center;

        .object-container & {
            max-width: max(300px,50%);
        }
    }

    .ab__dotd_promotion-description {
        display: block;
        max-width: initial;
        width: initial;
    }

    .ab__dotd_promotion-vendor {
        display: flex;
        column-gap: var(--gap-xxs);
        margin-bottom: var(--gap-xs);
    }
}


/* [[ BEGIN ]] category filter on promotion page */
.ab-dotd_cat-filter {
    @cat-font-size: var(--link-font-size);
    @cat-line-height: calc(var(--link-font-size) + 4px);
    @cat-count-height: max(@cat-line-height, 18px);
    @cat-v-padding: 6px;
    @cat-h-padding: var(--gap-xs);
    @cat-pic-max-height: calc(@cat-line-height + @cat-v-padding * 2 - 2px);
    @cat-pic-source-width: calc(var(--pict-width) * 1px);
    @cat-pic-final-width: min(@cat-pic-source-width, @cat-pic-max-height);
    @cat-max-nesting-depth: 5;

    .mxn_adjust-to-color-scheme() when not (@sidebar = @content_bg) {
        padding-block: var(--gap-sm);
        padding-inline: var(--gap-xxs);
    }
    .mxn_adjust-to-color-scheme();

    .list .list {
        margin-inline-start: var(--gap-xs);
    }

    .item {
        padding: initial;
    }

    .mxn_processNestingLevelsRecursively(@level-counter, @max-nesting-depth, @selector) when (@level-counter =< @max-nesting-depth) {
        @{selector} {
            --nesting-level-number: @level-counter;
        }
        @new-selector: ~"@{selector} > .list > .item";
        /*.mxn_isMaxLevel(@flag) when (@flag = true) {
            @{new-selector} {
                --nesting-level-number: 0;
            }
        }
        .mxn_isMaxLevel(@level-counter = @max-nesting-depth);*/
        .mxn_processNestingLevelsRecursively(@level-counter + 1, @max-nesting-depth, @new-selector);
    }
    .mxn_processNestingLevelsRecursively(@level-counter, @max-nesting-depth, @selector) when (@level-counter > @max-nesting-depth) {
        @{selector} {
            --nesting-level-number: 0;
        }
    }
    .mxn_processNestingLevelsRecursively(1, @cat-max-nesting-depth, ~"> .list > .item");

    .category {
        font-size: @cat-font-size;
        line-height: @cat-line-height;
        color: var(--color-font);
        border-radius: var(--border-radius);
        position: relative;
        padding-inline: @cat-h-padding;
        display: flex;
        align-items: center;
        column-gap: var(--gap-xxs);

        &::before {
            content: '';
            border-radius: var(--border-radius);
            background-color: var(--color-decorative);
            position: absolute;
            inline-size: 3px;
            inset-block: @cat-v-padding;
            inset-inline-start: calc(~'(var(--gap-xxs) + @{cat-h-padding} * (var(--nesting-level-number) - 1)) * -1');
            opacity: var(--nesting-level-number, 1);
            pointer-events: none;
            display: none;
        }
    }

    .has-pic > .category::before {
        inset-block: 0;
        margin-block: auto;
        block-size: @cat-pic-final-width;
    }

    .active > .category {
        font-weight: bold;

        &::before {
            display: block;
        }

        .category-count {
            color: var(--color-font);
        }
    }

    .item:not(.active) > .category {
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: var(--color-links);

                .side-grid & {
                    .mxn_bg-color() when (@sidebar = @content_bg) {
                        background-color: var(--fill-gray);

                        em {
                            background-color: var(--fill-white);
                        }
                    }
                    .mxn_bg-color() when not (@sidebar = @content_bg) {
                        .mxn_bg-color_in() when not (@content_bg = @general_bg_color) {
                            background-color: var(--color-content);
                        }
                        .mxn_bg-color_in() when (@content_bg = @general_bg_color) {
                            background-color: var(--fill-white);
                        }
                        .mxn_bg-color_in();

                        em {
                            background-color: var(--fill-gray);
                        }
                    }
                    .mxn_bg-color();
                }
            }
        }
    }

    .category-pict {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        block-size: @cat-pic-max-height;
        inline-size: @cat-pic-final-width;

        .ty-pict {
            display: block;
            max-block-size: 100%;
            width: auto;
        }
    }

    .category-name {
        .mxn_good-wrap-text-containing-long-word();
        flex-grow: 1;
        padding-block: @cat-v-padding;
        min-inline-size: 0;
    }

    .category-count {
        font-size: var(--font-size-small);
        font-style: initial;
        color: var(--color-font-lighten);
        text-align: center;

        .mxn_bg-color() when (@sidebar = @content_bg) {
            background-color: var(--fill-gray);
        }
        .mxn_bg-color() when not (@sidebar = @content_bg) {
            background-color: var(--fill-white);
        }
        .mxn_bg-color();

        border-radius: calc(@cat-count-height / 2);

        padding-inline: var(--gap-xxs);
        margin-inline-start: auto;
        block-size: @cat-count-height;
        min-inline-size: @cat-count-height;
        flex-shrink: 0;
    }
}
/* [[ END ]] category filter on promotion page */