/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2024   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
/* ==========================================================================
ab__intelligent_accessories
========================================================================== */
.ty-ab__ia_joins-list {
    margin-bottom: 5px;
    ul{
        list-style: outside none none;
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            list-style: outside none none;
            margin: 4px 8px 5px 0;
            padding: 0;
            a{
                color: #7c7e80;
                font-size: 13px;
                background: #dfe2e6 none repeat scroll 0 0;
            }
            a:hover{
                color: #7c7e80;
                text-decoration: underline;
            }
        }
        li.active{
            a{
                color: #ffffff;
                background: #b4bcc4 none repeat scroll 0 0;
            }
            a:hover{
                text-decoration: none;
            }
        }
        li:last-child{
            margin-right: 0;
        }
    }
}
